.label-container {
  position: absolute;
  bottom: 90px;
  right: 0;
}

.label-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d0d0df0;
  color: white;
  font-size: 12px;
  font-family: "SEGOE UI";
  font-weight: bold;
  height: 40px;
  padding: 0px 50px;
}
