<h1>Sup Home bitches</h1>
<div class="home-container">
  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="DIGITAL"
    gamePrice="R$ 229,99"
    gameType="Full Game | PS4 | PS5"
  ></app-card>

  <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="GAME OF THE YEAR"
    gamePrice="R$ 99,99"
    gameType="Full Game | PS3 | PS4 | PS5"
  ></app-card>

  <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="DELUXE"
    gamePrice="R$ 339,99"
    gameType="Full Game | PS4 | PS5"
  ></app-card>

  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="SPECIAL EDITION"
    gamePrice="R$ 89,99"
    gameType="Full Game | PS3 | PS4 | PS5"
  ></app-card>
</div>

<footer>
  <p>
    Alguns direitos reservados -
    <a href="https://www.linkedin.com/in/paixao-felipe/" target="_blank"
      >Felipe Paixão</a
    >
  </p>
</footer>
